In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
4/3wG8FEhNmkytG2d_2ujv4SSuc5ae82NZ_tnGXHF_FftPE8eLkjDTatc
Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

from datetime import datetime

from scipy import sparse
from scipy.sparse import csr_matrix

from sklearn.metrics.pairwise import cosine_similarity

In [86]:
movies_df = pd.read_csv('/content/gdrive/My Drive/movies.csv')
movies_df.columns = ['MovieID', 'Title', 'Genres']
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)
ratings_df = pd.read_csv('/content/gdrive/My Drive/ratings.csv')
ratings_df.columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']
print(movies_df.shape)
print(ratings_df.shape)

(9742, 3)
(100836, 4)

In [7]:
print("Total number of ratings :", ratings_df.shape[0])
print("Total number of users   :", len(np.unique(ratings_df.UserID)))
print("Total number of movies  :", len(np.unique(ratings_df.MovieID)))

Total number of ratings : 100836
Total number of users   : 610
Total number of movies  : 9724

In [1]:
movies_df.head()

NameError: name 'movies_df' is not defined

In [ ]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Colaborative Filtering Based RS using Matrix Factorisation

In [8]:
#ratings matrix
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID  1       2       3       4       ...  193583  193585  193587  193609
UserID                                   ...
1           4.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 9724 columns]

In [9]:
#number of unique users are 610
print(R_df.shape)

(610, 9724)

In [10]:
#normalizing each row by each user's mean
R = R_df.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

Singular Value Decomposition :
$$\begin{equation}R = U\Sigma V^{T}\end{equation}$$

In [21]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 100)

In [12]:
#sigma returned is just the values instead of diagonal matrix
sigma = np.diag(sigma)

In [13]:
#we need to matrix multiply U, sigma, Vt and add the user means back to get the actual ratings prediction
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [14]:
#prediction marix
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

MovieID    1         2         3       ...    193585    193587    193609
0        3.471018  0.298326  3.131096  ...  0.116511  0.116511 -0.190738
1        0.354172  0.049318 -0.021538  ...  0.033035  0.033035  0.050858
2        0.086552 -0.067687  0.073002  ...  0.008755  0.008755  0.015282
3        1.165012  0.029818  0.295829  ... -0.037789 -0.037789  0.003518
4        1.990547  0.790265 -0.218568  ...  0.004455  0.004455  0.006007

[5 rows x 9724 columns]

In [15]:
print(preds_df.shape)

(610, 9724)

In [16]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df):
    
    #get and sort the user's predictions
    user_row_number = userID - 1 
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    #get the user's data and merge in the movie information
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )
    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    
    #recommend the 5 highest rated predicted movies that the user hasn't seen yet
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',left_on = 'MovieID',right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).iloc[:5, :-1])

    return user_full, recommendations

In [17]:
userID=300
already_rated, predictions = recommend_movies(preds_df, userID, movies_df, ratings_df)
already_rated=already_rated.drop(['UserID', 'MovieID', 'Rating', 'Timestamp'], axis = 1).reset_index(drop=True)
predictions=predictions.drop(['MovieID'], axis = 1).reset_index(drop=True)

User 300 has already rated 32 movies.

In [18]:
already_rated.head()

                                 Title                                 Genres
0  City of God (Cidade de Deus) (2002)  Action|Adventure|Crime|Drama|Thriller
1               American Beauty (1999)                          Drama|Romance
2                       Boyhood (2014)                                  Drama
3                  Interstellar (2014)                            Sci-Fi|IMAX
4                    Black Swan (2010)                         Drama|Thriller

In [19]:
predictions

                                               Title                       Genres
0                                Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
1             One Flew Over the Cuckoo's Nest (1975)                        Drama
2                                     Memento (2000)             Mystery|Thriller
3                         Requiem for a Dream (2000)                        Drama
4  Lord of the Rings: The Fellowship of the Ring,...            Adventure|Fantasy

Similarity Based RS using Movie-Movie Similarity

In [25]:
sparse_matrix = sparse.csr_matrix((ratings_df.Rating.values, (ratings_df.UserID.values,ratings_df.MovieID.values)))
print('Shape of sparse matrix (user, movie) : ', sparse_matrix.shape)

Shape of sparse matrix (user, movie) :  (611, 193610)

In [26]:
us,mv = sparse_matrix.shape
elem = sparse_matrix.count_nonzero() #this will be equal to number of ratings
print("Sparsity of matrix : {} % ".format(  (1-(elem/(us*mv))) * 100) )

Sparsity of matrix : 99.91475937715747 %

In [72]:
m_m_sim_sparse = cosine_similarity(X=sparse_matrix.T, dense_output=False)
print("Shape of movie-movie similarity sparse matrix : ",m_m_sim_sparse.shape)

Shape of movie-movie similarity sparse matrix :  (193610, 193610)

In [107]:
sparse.save_npz("m_m_sim_sparse.npz", m_m_sim_sparse)
#m_m_sim_sparse = sparse.load_npz("m_m_sim_sparse.npz")

In [105]:
movie_id = 364
movie_df = movies_df.set_index('MovieID')
print("Movie :",movie_df.loc[movie_id].values[0])
print("Total ratings from users : ",sparse_matrix[:,movie_id].getnnz()) #get the count of explicitly-stored values (nonzeros)
avg_rating = sum(sparse_matrix[:,movie_id].toarray())/sparse_matrix[:,movie_id].getnnz()
print("Average rating out of 5  : ",round(avg_rating[0],1))

Movie : Lion King, The (1994)
Total ratings from users :  172
Average rating out of 5  :  3.9

In [106]:
similarities = m_m_sim_sparse[movie_id].toarray().ravel()
sim_indices = similarities.argsort()[::-1][1:]
similar_df = movies_df.set_index('MovieID')
top10_df = similar_df.loc[sim_indices[:10]]
print(sim_indices[:10])
top10_df

[588 595 500 367 480   2 356  34 586 594]

                                          Title                                           Genres
MovieID
588                              Aladdin (1992)      Adventure|Animation|Children|Comedy|Musical
595                 Beauty and the Beast (1991)  Animation|Children|Fantasy|Musical|Romance|IMAX
500                       Mrs. Doubtfire (1993)                                     Comedy|Drama
367                            Mask, The (1994)                      Action|Comedy|Crime|Fantasy
480                        Jurassic Park (1993)                 Action|Adventure|Sci-Fi|Thriller
2                                Jumanji (1995)                       Adventure|Children|Fantasy
356                         Forrest Gump (1994)                         Comedy|Drama|Romance|War
34                                  Babe (1995)                                   Children|Drama
586                           Home Alone (1990)                                  Children|Comedy
594      Snow White and the Seven Dwarfs (1937)         Animation|Children|Drama|Fantasy|Musical